* {
	margin: 0;
	padding: 0;
}

div.container {
	display: grid;
	grid-template-rows: 4rem auto 3rem;
	height: 100vh;
}

div.container.index {
	grid-template-columns: 10% 90%;
}

header {
	grid-column: -1 / 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	display: grid;
	grid-template-columns: 25% 75%
}
	.page-title{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	header.nav{
		display: flex;
		justify-content: center;
	}

	header.nav ul {
		display: flex;
	}

nav ul li {
	margin: 0 1rem;
}

main {
}

aside {
	display: flex;
	flex-direction: column;
	align-items: center;
}
	aside.nav{

	}

footer {
	grid-column: -1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
}