* {
	list-style-type: none;
}

header {
	background-color: #bec0ec;
	text-decoration: underline;
	border-bottom: solid;
}
aside {
	background-color: lightsteelblue;
	
}
main {
	background-color: #FFFFFF;
}
footer {
	background-color: #bec0ec;
	border-top: solid;
}

.tag {
	margin: .2rem .3rem;
    background-color: rgba(8,92,170,0.5);
    border-radius: 3px;
    color: #000;
    padding: 2px 3px;
}

.count {
	border-radius: 33%;
	background-color: grey;
	color: white;
}