<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Review Site</title>
	<link class="layout" rel="stylesheet" type="text/css" href="css/layout.css"/>
	<link class="style" rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<div class="container index">
		<header>
			<h1>
				Reviews Site Fullstack
			</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/categories">Categories</a>
					</li>
				</ul>
			</nav>
		</header>
		<aside>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li th:each="category : ${categories}">
						<a th:href="@{category/{category.id}}">
							<span class="category" th:text="${category.name}"/>
						</a>
						<span class="count" th:text="${category.getReviewsCount()}"/>
					</li>
				</ul>
			</nav>	
		</aside>
		<main>
			<article th:each="review : ${reviews}">
				<div class="article-fragment">
					<img class="icon" th:src="@{images/{review.url}}"/>
					<h2>
						<a th:text="${review.title}" th:href="@{review/{review.id}}"/>
					</h2>
				</div>
			</article>
		</main>
		<footer th:fragment="footer">
			<small>
				Website made by Ryan Carson and Alex Malcolm
			</small>
		</footer>
	</div>
</body>
</html>